<a href="https://colab.research.google.com/github/vagueau/Projet_python/blob/main/projet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyarrow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyarrow in /usr/local/lib/python3.10/dist-packages (9.0.0)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.10/dist-packages (from pyarrow) (1.22.4)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

import pyarrow.parquet as pq

# Chemin du fichier Parquet
#chemin_fichier = "/content/yellow_tripdata_2023-03.parquet"
chemin_fichier = "yellow_tripdata_2023-03.parquet"

# Lecture du fichier Parquet
table = pq.read_table(chemin_fichier)

# Conversion de la table en DataFrame pandas
dataframe = table.to_pandas()

#dataframe.to_csv("format_csv.csv", index = False)
# Affichage des donn√©es
print(dataframe)

         VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0               2  2023-03-01 00:06:43   2023-03-01 00:16:43              1.0
1               2  2023-03-01 00:08:25   2023-03-01 00:39:30              2.0
2               1  2023-03-01 00:15:04   2023-03-01 00:29:26              0.0
3               1  2023-03-01 00:49:37   2023-03-01 01:01:05              1.0
4               2  2023-03-01 00:08:04   2023-03-01 00:11:06              1.0
...           ...                  ...                   ...              ...
3403761         2  2023-03-31 23:24:25   2023-03-31 23:40:54              NaN
3403762         2  2023-03-31 23:24:50   2023-04-01 00:04:12              NaN
3403763         2  2023-03-31 23:26:31   2023-03-31 23:49:39              NaN
3403764         2  2023-03-31 23:07:51   2023-03-31 23:15:56              NaN
3403765         2  2023-03-31 23:26:12   2023-03-31 23:31:47              NaN

         trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
0                 0.00         1.0                  N           238
1                12.40         1.0                  N           138
2                 3.30         1.0                  N           140
3                 2.90         1.0                  N           140
4                 1.23         1.0                  N            79
...                ...         ...                ...           ...
3403761           3.16         NaN               None           163
3403762           6.89         NaN               None           125
3403763           4.01         NaN               None            50
3403764           1.31         NaN               None           113
3403765           0.88         NaN               None            41

         DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
0                  42             2         8.60    1.0      0.5        0.00
1                 231             1        52.70    6.0      0.5       12.54
2                 186             1        18.40    3.5      0.5        4.65
3                  43             1        15.60    3.5      0.5        4.10
4                 137             1         7.20    1.0      0.5        2.44
...               ...           ...          ...    ...      ...         ...
3403761            75             0        12.13    0.0      0.5        4.23
3403762           198             0        40.92    0.0      0.5        8.98
3403763           224             0        24.02    0.0      0.5        0.00
3403764           158             0         8.51    0.0      0.5        3.50
3403765           166             0        13.51    0.0      0.5        2.25

         tolls_amount  improvement_surcharge  total_amount  \
0                 0.0                    1.0         11.10
1                 0.0                    1.0         76.49
2                 0.0                    1.0         28.05
3                 0.0                    1.0         24.70
4                 0.0                    1.0         14.64
...               ...                    ...           ...
3403761           0.0                    1.0         20.36
3403762           0.0                    1.0         53.90
3403763           0.0                    1.0         28.02
3403764           0.0                    1.0         16.01
3403765           0.0                    1.0         17.26

         congestion_surcharge  Airport_fee
0                         0.0         0.00
1                         2.5         1.25
2                         2.5         0.00
3                         2.5         0.00
4                         2.5         0.00
...                       ...          ...
3403761                   NaN          NaN
3403762                   NaN          NaN
3403763                   NaN          NaN
3403764                   NaN          NaN
3403765                   NaN          NaN

[3403766 rows x 19 columns]

In [ ]:
dataframe.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2023-03-01 00:06:43,2023-03-01 00:16:43,1.0,0.00,1.0,N,238,42,2,8.6,1.0,0.5,0.00,0.0,1.0,11.10,0.0,0.00
1,2,2023-03-01 00:08:25,2023-03-01 00:39:30,2.0,12.40,1.0,N,138,231,1,52.7,6.0,0.5,12.54,0.0,1.0,76.49,2.5,1.25
2,1,2023-03-01 00:15:04,2023-03-01 00:29:26,0.0,3.30,1.0,N,140,186,1,18.4,3.5,0.5,4.65,0.0,1.0,28.05,2.5,0.00
3,1,2023-03-01 00:49:37,2023-03-01 01:01:05,1.0,2.90,1.0,N,140,43,1,15.6,3.5,0.5,4.10,0.0,1.0,24.70,2.5,0.00
4,2,2023-03-01 00:08:04,2023-03-01 00:11:06,1.0,1.23,1.0,N,79,137,1,7.2,1.0,0.5,2.44,0.0,1.0,14.64,2.5,0.00

In [ ]:
dataframe['mois'] = dataframe.tpep_pickup_datetime.dt.month
dataframe['jour'] = dataframe.tpep_pickup_datetime.dt.day
dataframe['annee'] = dataframe.tpep_pickup_datetime.dt.year
dataframe['heure'] = dataframe.tpep_pickup_datetime.dt.hour
dataframe['minute'] = dataframe.tpep_pickup_datetime.dt.minute
dataframe['joursemaine'] = dataframe.tpep_pickup_datetime.dt.weekday
 
#dataframe['dur√©e']=(dataframe['tpep_dropoff_datetime']-dataframe['tpep_pickup_datetime'])
dataframe['dur√©e'] = (dataframe['tpep_dropoff_datetime'] - dataframe['tpep_pickup_datetime']).dt.total_seconds() / 60

In [ ]:
dataframe.tail(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,total_amount,congestion_surcharge,Airport_fee,mois,jour,annee,heure,minute,joursemaine,dur√©e
3403756,2,2023-03-31 23:43:56,2023-04-01 00:09:45,NaN,5.17,NaN,None,113,151,0,...,41.25,NaN,NaN,3,31,2023,23,43,4,25.816667
3403757,2,2023-03-31 23:21:09,2023-03-31 23:31:25,NaN,1.57,NaN,None,45,79,0,...,15.41,NaN,NaN,3,31,2023,23,21,4,10.266667
3403758,2,2023-03-31 23:44:00,2023-04-01 00:17:00,NaN,5.52,NaN,None,230,223,0,...,36.94,NaN,NaN,3,31,2023,23,44,4,33.000000
3403759,2,2023-03-31 23:13:00,2023-03-31 23:25:00,NaN,2.48,NaN,None,74,141,0,...,15.27,NaN,NaN,3,31,2023,23,13,4,12.000000
3403760,2,2023-03-31 23:11:21,2023-03-31 23:31:38,NaN,4.56,NaN,None,231,80,0,...,27.58,NaN,NaN,3,31,2023,23,11,4,20.283333
3403761,2,2023-03-31 23:24:25,2023-03-31 23:40:54,NaN,3.16,NaN,None,163,75,0,...,20.36,NaN,NaN,3,31,2023,23,24,4,16.483333
3403762,2,2023-03-31 23:24:50,2023-04-01 00:04:12,NaN,6.89,NaN,None,125,198,0,...,53.90,NaN,NaN,3,31,2023,23,24,4,39.366667
3403763,2,2023-03-31 23:26:31,2023-03-31 23:49:39,NaN,4.01,NaN,None,50,224,0,...,28.02,NaN,NaN,3,31,2023,23,26,4,23.133333
3403764,2,2023-03-31 23:07:51,2023-03-31 23:15:56,NaN,1.31,NaN,None,113,158,0,...,16.01,NaN,NaN,3,31,2023,23,7,4,8.083333
3403765,2,2023-03-31 23:26:12,2023-03-31 23:31:47,NaN,0.88,NaN,None,41,166,0,...,17.26,NaN,NaN,3,31,2023,23,26,4,5.583333

In [ ]:
dataframe.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,...,congestion_surcharge,Airport_fee,mois,jour,annee,heure,minute,dur√©e,duree_minutes,joursemaine
count,3.403766e+06,3.316147e+06,3.403766e+06,3.316147e+06,3.403766e+06,3.403766e+06,3.403766e+06,3.403766e+06,3.403766e+06,3.403766e+06,...,3.316147e+06,3.316147e+06,3.403766e+06,3.403766e+06,3.403766e+06,3.403766e+06,3.403766e+06,3403766,3.403766e+06,3.403766e+06
mean,1.725320e+00,1.351417e+00,3.903871e+00,1.623961e+00,1.654540e+02,1.641003e+02,1.187310e+00,1.890845e+01,1.629128e+00,4.874393e-01,...,2.275176e+00,1.040236e-01,3.000007e+00,1.588435e+01,2.023000e+03,1.434281e+01,2.954385e+01,0 days 00:16:52.909035462,1.688182e+01,3.026332e+00
std,4.588677e-01,8.861919e-01,1.916866e+02,7.358691e+00,6.373958e+01,6.967282e+01,5.334025e-01,1.825637e+01,1.842778e+00,1.020516e-01,...,7.745563e-01,3.503260e-01,1.316577e-02,8.984603e+00,3.455810e-02,5.760345e+00,1.734014e+01,0 days 00:43:47.674722006,4.379458e+01,1.847898e+00
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-9.599000e+02,-7.500000e+00,-5.000000e-01,...,-2.500000e+00,-1.250000e+00,1.000000e+00,1.000000e+00,2.001000e+03,0.000000e+00,0.000000e+00,-1 days +16:03:45,-4.762500e+02,0.000000e+00
25%,1.000000e+00,1.000000e+00,1.050000e+00,1.000000e+00,1.320000e+02,1.140000e+02,1.000000e+00,9.300000e+00,0.000000e+00,5.000000e-01,...,2.500000e+00,0.000000e+00,3.000000e+00,8.000000e+00,2.023000e+03,1.100000e+01,1.400000e+01,0 days 00:07:24,7.400000e+00,2.000000e+00
50%,2.000000e+00,1.000000e+00,1.790000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,1.350000e+01,1.000000e+00,5.000000e-01,...,2.500000e+00,0.000000e+00,3.000000e+00,1.600000e+01,2.023000e+03,1.500000e+01,3.000000e+01,0 days 00:12:09,1.215000e+01,3.000000e+00
75%,2.000000e+00,1.000000e+00,3.380000e+00,1.000000e+00,2.330000e+02,2.340000e+02,1.000000e+00,2.120000e+01,2.500000e+00,5.000000e-01,...,2.500000e+00,0.000000e+00,3.000000e+00,2.400000e+01,2.023000e+03,1.900000e+01,4.500000e+01,0 days 00:19:39,1.965000e+01,4.000000e+00
max,6.000000e+00,9.000000e+00,2.169870e+05,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,2.100000e+03,1.375000e+01,4.000000e+00,...,2.500000e+00,1.250000e+00,1.200000e+01,3.100000e+01,2.023000e+03,2.300000e+01,5.900000e+01,3 days 21:57:43,5.637717e+03,6.000000e+00

In [ ]:
dataframe['passenger_count'].value_counts()

1.0    2526148
2.0     479142
3.0     117805
4.0      59013
0.0      58365
5.0      46482
6.0      29171
8.0         11
7.0          7
9.0          3
Name: passenger_count, dtype: int64

In [ ]:
dataframe.dtypes

VendorID                           int32
tpep_pickup_datetime      datetime64[ns]
tpep_dropoff_datetime     datetime64[ns]
passenger_count                  float64
trip_distance                    float64
RatecodeID                       float64
store_and_fwd_flag                object
PULocationID                       int32
DOLocationID                       int32
payment_type                       int64
fare_amount                      float64
extra                            float64
mta_tax                          float64
tip_amount                       float64
tolls_amount                     float64
improvement_surcharge            float64
total_amount                     float64
congestion_surcharge             float64
Airport_fee                      float64
mois                               int64
jour                               int64
annee                              int64
heure                              int64
minute                             int64
dur√©e                    timedelta64[ns]
duree_minutes                    float64
joursemaine                        int64
dtype: object

In [ ]:
dataframe.isnull().sum()

VendorID                     0
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          87619
trip_distance                0
RatecodeID               87619
store_and_fwd_flag       87619
PULocationID                 0
DOLocationID                 0
payment_type                 0
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
congestion_surcharge     87619
Airport_fee              87619
mois                         0
jour                         0
annee                        0
heure                        0
minute                       0
dur√©e                        0
duree_minutes                0
joursemaine                  0
dtype: int64

variable √† pr√©dire : total_amount
pour la pr√©dire : ne pas prendre en compte les autres variables mon√©taires
suppression de :     
- fare_amount
- extra
- mta_tax
- tip_amount
- tolls_amount
- improvement_surcharge
- congestion_surcharge
- airport_fee

In [ ]:
df=dataframe.drop(['fare_amount', 'extra','mta_tax','tip_amount','tolls_amount','improvement_surcharge','congestion_surcharge','Airport_fee'], axis=1)

In [ ]:
df=df.dropna(subset=['passenger_count'],axis=0)

In [ ]:
df.isnull().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
total_amount             0
mois                     0
jour                     0
annee                    0
heure                    0
minute                   0
dur√©e                    0
duree_minutes            0
joursemaine              0
dtype: int64

In [ ]:
df=df.drop(['VendorID', 'store_and_fwd_flag'], axis=1)

In [ ]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3316147 entries, 0 to 3316146
Data columns (total 17 columns):
 #   Column                 Dtype
---  ------                 -----
 0   tpep_pickup_datetime   datetime64[ns]
 1   tpep_dropoff_datetime  datetime64[ns]
 2   passenger_count        float64
 3   trip_distance          float64
 4   RatecodeID             float64
 5   PULocationID           int32
 6   DOLocationID           int32
 7   payment_type           int64
 8   total_amount           float64
 9   mois                   int64
 10  jour                   int64
 11  annee                  int64
 12  heure                  int64
 13  minute                 int64
 14  dur√©e                  timedelta64[ns]
 15  duree_minutes          float64
 16  joursemaine            int64
dtypes: datetime64[ns](2), float64(5), int32(2), int64(7), timedelta64[ns](1)
memory usage: 430.1 MB